<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <title>Flask Intro</title>
  </head>
  <body class = "container">
    {% block body %}

    {% endblock %}

    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    {% for message in get_flashed_messages() %}
      <p>
        {{message}}
      </p>
    {% endfor %}


  </body>
  <footer>


  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </footer>
</html>
