{% extends "layout.html" %}

{% block body %}

  <h1>Welcome to Flask Intro</h1>
  <p>
    <a href="/logout">Clicker here to log out</a>
  </p>
  <br><br>
  <h3>Posts</h3>
  <h1>Add a post</h1>
  <br>
  <form class="form-blog" role="form" action="" method="post">
    {{ form.csrf_token }}
    <p>
      {{ form.title(placeholder='Title') }}
      <span class='error'>
        {% if form.title.errors %}
          {% for error in form.title.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </span>
    </p>
    <p>
      {{ form.content(placeholder='Content') }}
      <span class='error'>
        {% if form.content.errors %}
          {% for error in form.content.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </span>
    </p>
    <button type="submit" class="btn btn-sm btn-success">Post</button>
  </form>
  <br>
  {% for post in posts %}
   <strong>Title: </strong> {{ post.title }} <br>
   <strong>Description: </strong> {{ post.description }} <br>
   <strong>Author: </strong> {{ post.author.name }} <br>

   <br>
  {% endfor %}


{% endblock %}
